body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

body > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff9f9;
    border: 2px solid #f08080; 
    border-radius: 4px;
    font-size: 0.9rem;
    color: #b22222;
}

.main {
    min-height: 20vh;
}

@media (min-width: 576px) {
    body {
        grid-template-columns: 1fr 3fr;
    }

    .header,
    .nav {
        grid-column: 1 / 3;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 3;
    }
    .ads {
        grid-column: 1 / 2;
    }
    
    .main {
        grid-column: 2 / 3;
    }
    .footer {
        grid-column: 2 / 3;
    }
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .header {
        grid-column: 1 / 4; 
        grid-row: 1;
    }

    .nav {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
    }

    .ads {
        grid-column: 3 / 4; 
        grid-row: 2 / 4; 
    }

    .footer {
        grid-column: 1 / 4; 
        grid-row: 4;
    }
}