img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px gray;
}

.container {
    max-width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
    gap: 10px 10px;

}

.wide {
    grid-area: 2 / 1 / 2 / 6;
}

.wide img {
    max-height: 100%;
}